<!-- A Very Simple Menu Page -->

<h1>All Active Facilities</h1>
<a href="all">All Facilities</a>

<h1>Active Facilities By State</h1>
<ul>
{% for item in statelist %}
  <li>
  <a href="{{ item.url }}">{{ item.name }}</a>
  </li>
{% endfor %}
</ul>

<h1>Active Facilities By Center</h1>
<ul>
{% for item in centerlist %}
  <li>
  <a href="{{ item.url }}">{{ item.name }}</a>
  </li>
{% endfor %}
</ul>

<h1>Active Facilities By Facility Name</h1>
<ul>
{% for item in facilitylist %}
  <li>
  <a href="{{ item.url }}">{{ item.name }}</a>
  </li>
{% endfor %}
</ul>